@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap);
@charset "UTF-8";
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arr:before {
  content: "\e900";
}

._icon-ball:before {
  content: "\e901";
}

._icon-cube:before {
  content: "\e902";
}

._icon-doggy:before {
  content: "\e903";
}

._icon-dollar:before {
  content: "\e904";
}

._icon-instagramm:before {
  content: "\e905";
}

._icon-meta:before {
  content: "\e906";
}

._icon-search:before {
  content: "\e907";
}

._icon-statistic:before {
  content: "\e908";
}

._icon-twitter:before {
  content: "\e909";
}

._icon-tick:before {
  content: "\e90a";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #6B7280;
  line-height: 1;
  font-family: "Inter";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 73.75rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.button {
  color: #3730a3;
  font-weight: 500;
  line-height: 1.5555555556;
  border: 0.0625rem solid #3730A3;
  border-radius: 0.375rem;
  padding: 0.75rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0rem;
  transition: box-shadow 0.3s ease 0s;
}
.button_blue {
  background-color: #3730A3;
  color: #fff;
}
@media (any-hover: hover) {
  .button:hover {
    box-shadow: 0 0 0.375rem 0 #5751b1;
  }
}

._title {
  font-weight: 600;
  color: #1F2937;
  text-align: center;
}
@supports (font-size: clamp( 1.875rem , 1.470505618rem  +  2.0224719101vw , 3rem )) {
  ._title {
    font-size: clamp( 1.875rem , 1.470505618rem  +  2.0224719101vw , 3rem );
  }
}
@supports not (font-size: clamp( 1.875rem , 1.470505618rem  +  2.0224719101vw , 3rem )) {
  ._title {
    font-size: calc(1.875rem + 1.125 * (100vw - 20rem) / 55.625);
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 14.6875rem;
}
@media (max-width: 61.99875em) {
  .header__container {
    min-height: 7.1875rem;
  }
}
@supports (column-gap: clamp( 1.875rem , 0.7514044944rem  +  5.6179775281vw , 5rem )) {
  .header__container {
    column-gap: clamp( 1.875rem , 0.7514044944rem  +  5.6179775281vw , 5rem );
  }
}
@supports not (column-gap: clamp( 1.875rem , 0.7514044944rem  +  5.6179775281vw , 5rem )) {
  .header__container {
    column-gap: calc(1.875rem + 3.125 * (100vw - 20rem) / 55.625);
  }
}
.header__logo {
  color: #7b61ff;
  height: 3.875rem;
  width: 3.875rem;
  border-radius: 50%;
  background-color: #eeebff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}
.header__menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@supports (gap: clamp( 1.875rem , 0.7514044944rem  +  5.6179775281vw , 5rem )) {
  .header__menu {
    gap: clamp( 1.875rem , 0.7514044944rem  +  5.6179775281vw , 5rem );
  }
}
@supports not (gap: clamp( 1.875rem , 0.7514044944rem  +  5.6179775281vw , 5rem )) {
  .header__menu {
    gap: calc(1.875rem + 3.125 * (100vw - 20rem) / 55.625);
  }
}

@media (min-width: 47.99875em) {
  .menu__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  @supports (gap: clamp( 1.875rem , 0.7514044944rem  +  5.6179775281vw , 5rem )) {
    .menu__list {
      gap: clamp( 1.875rem , 0.7514044944rem  +  5.6179775281vw , 5rem );
    }
  }
  @supports not (gap: clamp( 1.875rem , 0.7514044944rem  +  5.6179775281vw , 5rem )) {
    .menu__list {
      gap: calc(1.875rem + 3.125 * (100vw - 20rem) / 55.625);
    }
  }
}
@media (max-width: 47.99875em) {
  .menu__list > *:not(:last-child) {
    margin: 0px 0px 1.875rem 0px;
  }
}
.menu__link {
  font-weight: 500;
  color: inherit;
  line-height: 1.5555555556;
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: #7c98b3;
    text-decoration: underline;
  }
}
@media (max-width: 47.99875em) {
  .menu__body {
    position: absolute;
    top: 8.4375rem;
    z-index: 15;
    right: 0.9375rem;
    opacity: 0;
    padding: 1.875rem;
    min-width: 12.5rem;
    background-color: #ddeaf3;
    transition: all 0.3s ease 0s;
  }
  .menu-open .menu__body {
    top: 6.25rem;
    opacity: 1;
  }
}
.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.14375rem;
    background-color: #000;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
}

.footer {
  background-color: #fef2f2;
}
@supports (padding-top: clamp( 2.5rem , 0.9269662921rem  +  7.8651685393vw , 6.875rem )) {
  .footer {
    padding-top: clamp( 2.5rem , 0.9269662921rem  +  7.8651685393vw , 6.875rem );
  }
}
@supports not (padding-top: clamp( 2.5rem , 0.9269662921rem  +  7.8651685393vw , 6.875rem )) {
  .footer {
    padding-top: calc(2.5rem + 4.375 * (100vw - 20rem) / 55.625);
  }
}
@supports (padding-bottom: clamp( 1.875rem , 0.077247191rem  +  8.9887640449vw , 6.875rem )) {
  .footer {
    padding-bottom: clamp( 1.875rem , 0.077247191rem  +  8.9887640449vw , 6.875rem );
  }
}
@supports not (padding-bottom: clamp( 1.875rem , 0.077247191rem  +  8.9887640449vw , 6.875rem )) {
  .footer {
    padding-bottom: calc(1.875rem + 5 * (100vw - 20rem) / 55.625);
  }
}
.footer__container {
  display: grid;
  justify-items: center;
}
.footer__title {
  color: #374151;
}
.footer__title:not(:last-child) {
  margin-bottom: 0.4166666667em;
}
.footer__text {
  color: #9ca3af;
  line-height: 1.5555555556;
  max-width: 41.5rem;
  text-align: center;
}
@supports (margin-bottom: clamp( 1.875rem , 0.3019662921rem  +  7.8651685393vw , 6.25rem )) {
  .footer__text {
    margin-bottom: clamp( 1.875rem , 0.3019662921rem  +  7.8651685393vw , 6.25rem );
  }
}
@supports not (margin-bottom: clamp( 1.875rem , 0.3019662921rem  +  7.8651685393vw , 6.25rem )) {
  .footer__text {
    margin-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 55.625);
  }
}
.footer__body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
@supports (column-gap: clamp( 1.875rem , 1.4255617978rem  +  2.2471910112vw , 3.125rem )) {
  .footer__body {
    column-gap: clamp( 1.875rem , 1.4255617978rem  +  2.2471910112vw , 3.125rem );
  }
}
@supports not (column-gap: clamp( 1.875rem , 1.4255617978rem  +  2.2471910112vw , 3.125rem )) {
  .footer__body {
    column-gap: calc(1.875rem + 1.25 * (100vw - 20rem) / 55.625);
  }
}
.footer__item {
  color: #6B7280;
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .footer__item:hover {
    color: #2a2c31;
  }
}
@supports (font-size: clamp( 1.5rem , 1.4101123596rem  +  0.4494382022vw , 1.75rem )) {
  .footer__item::before {
    font-size: clamp( 1.5rem , 1.4101123596rem  +  0.4494382022vw , 1.75rem );
  }
}
@supports not (font-size: clamp( 1.5rem , 1.4101123596rem  +  0.4494382022vw , 1.75rem )) {
  .footer__item::before {
    font-size: calc(1.5rem + 0.25 * (100vw - 20rem) / 55.625);
  }
}

@supports (padding-top: clamp( 9.375rem , -7.2868852459rem  +  38.5245901639vw , 21.125rem )) {
  .main-block {
    padding-top: clamp( 9.375rem , -7.2868852459rem  +  38.5245901639vw , 21.125rem );
  }
}
@supports not (padding-top: clamp( 9.375rem , -7.2868852459rem  +  38.5245901639vw , 21.125rem )) {
  .main-block {
    padding-top: calc(9.375rem + 11.75 * (100vw - 43.25rem) / 30.5);
  }
}
@supports (padding-bottom: clamp( 3.125rem , -0.2008426966rem  +  16.6292134831vw , 12.375rem )) {
  .main-block {
    padding-bottom: clamp( 3.125rem , -0.2008426966rem  +  16.6292134831vw , 12.375rem );
  }
}
@supports not (padding-bottom: clamp( 3.125rem , -0.2008426966rem  +  16.6292134831vw , 12.375rem )) {
  .main-block {
    padding-bottom: calc(3.125rem + 9.25 * (100vw - 20rem) / 55.625);
  }
}
@media (min-width: 50.875em) {
  .main-block__container {
    display: grid;
    grid-template-columns: 52.7118644068% 1fr;
    align-items: center;
  }
  @supports (column-gap: clamp( 1.875rem , 0.7514044944rem  +  5.6179775281vw , 5rem )) {
    .main-block__container {
      column-gap: clamp( 1.875rem , 0.7514044944rem  +  5.6179775281vw , 5rem );
    }
  }
  @supports not (column-gap: clamp( 1.875rem , 0.7514044944rem  +  5.6179775281vw , 5rem )) {
    .main-block__container {
      column-gap: calc(1.875rem + 3.125 * (100vw - 20rem) / 55.625);
    }
  }
}
.main-block__image-ibg {
  padding-bottom: 91.0476190476%;
}
@media (min-width: 50.875em) {
  .main-block__image-ibg {
    padding-bottom: 109.89999%;
  }
}
.item-main {
  display: grid;
  justify-content: start;
}
@supports (row-gap: clamp( 1.5625rem , 1.2254213483rem  +  1.6853932584vw , 2.5rem )) {
  .item-main {
    row-gap: clamp( 1.5625rem , 1.2254213483rem  +  1.6853932584vw , 2.5rem );
  }
}
@supports not (row-gap: clamp( 1.5625rem , 1.2254213483rem  +  1.6853932584vw , 2.5rem )) {
  .item-main {
    row-gap: calc(1.5625rem + 0.9375 * (100vw - 20rem) / 55.625);
  }
}
.item-main__name {
  position: relative;
  display: flex;
  column-gap: 0.625rem;
  align-items: center;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.4;
  color: #4338ca;
}
.item-main__name::before {
  content: "";
  height: 0.125rem;
  background-color: #3730A3;
}
@supports (width: clamp( 1.875rem , 0.2570224719rem  +  8.0898876404vw , 6.375rem )) {
  .item-main__name::before {
    width: clamp( 1.875rem , 0.2570224719rem  +  8.0898876404vw , 6.375rem );
  }
}
@supports not (width: clamp( 1.875rem , 0.2570224719rem  +  8.0898876404vw , 6.375rem )) {
  .item-main__name::before {
    width: calc(1.875rem + 4.5 * (100vw - 20rem) / 55.625);
  }
}
.item-main__title {
  font-weight: 700;
  color: #1f2937;
  max-width: 37.25rem;
}
@supports (font-size: clamp( 2.1875rem , -0.125rem  +  6.1666666667vw , 4.5rem )) {
  .item-main__title {
    font-size: clamp( 2.1875rem , -0.125rem  +  6.1666666667vw , 4.5rem );
  }
}
@supports not (font-size: clamp( 2.1875rem , -0.125rem  +  6.1666666667vw , 4.5rem )) {
  .item-main__title {
    font-size: calc(2.1875rem + 2.3125 * (100vw - 37.5rem) / 37.5);
  }
}
.item-main__text {
  font-weight: 400;
  line-height: 1.5555555556;
  max-width: 34.5625rem;
}
@media (min-width: 21.3125em) {
  .item-main__buttons {
    display: flex;
    column-gap: 1.25rem;
  }
}
@media (max-width: 21.3125em) {
  .item-main__buttons > *:not(:last-child) {
    margin: 0px 0px 1.25rem 0px;
  }
}
@media (max-width: 21.3125em) {
  .item-main__button {
    width: 100%;
  }
}
.item-main__foot {
  font-size: 0.75rem;
  position: relative;
  line-height: 1.3333333333;
  font-weight: 400;
}
.item-main__foot::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.0625rem;
  background-color: #6B7280;
  opacity: 0.25;
}
@supports (top: clamp( -1.25rem , -0.4002808989rem  +  -1.1235955056vw , -0.625rem )) {
  .item-main__foot::before {
    top: clamp( -1.25rem , -0.4002808989rem  +  -1.1235955056vw , -0.625rem );
  }
}
@supports not (top: clamp( -1.25rem , -0.4002808989rem  +  -1.1235955056vw , -0.625rem )) {
  .item-main__foot::before {
    top: calc(-0.625rem + -0.625 * (100vw - 20rem) / 55.625);
  }
}

@supports (padding-bottom: clamp( 1.875rem , -0.8216292135rem  +  13.4831460674vw , 9.375rem )) {
  .introduce {
    padding-bottom: clamp( 1.875rem , -0.8216292135rem  +  13.4831460674vw , 9.375rem );
  }
}
@supports not (padding-bottom: clamp( 1.875rem , -0.8216292135rem  +  13.4831460674vw , 9.375rem )) {
  .introduce {
    padding-bottom: calc(1.875rem + 7.5 * (100vw - 20rem) / 55.625);
  }
}
.introduce__container {
  display: grid;
}
.introduce__title {
  justify-self: center;
  max-width: 64.9375rem;
}
.introduce__title span {
  color: #3730A3;
}
@supports (margin-bottom: clamp( 1.875rem , -0.8216292135rem  +  13.4831460674vw , 9.375rem )) {
  .introduce__title:not(:last-child) {
    margin-bottom: clamp( 1.875rem , -0.8216292135rem  +  13.4831460674vw , 9.375rem );
  }
}
@supports not (margin-bottom: clamp( 1.875rem , -0.8216292135rem  +  13.4831460674vw , 9.375rem )) {
  .introduce__title:not(:last-child) {
    margin-bottom: calc(1.875rem + 7.5 * (100vw - 20rem) / 55.625);
  }
}
@media (max-width: 42.3125em) {
  .introduce__body {
    display: grid;
    row-gap: 1.875rem;
  }
}
@media (min-width: 42.3125em) {
  .introduce__body {
    display: flex;
  }
  @supports (column-gap: clamp( 1.875rem , 1.4255617978rem  +  2.2471910112vw , 3.125rem )) {
    .introduce__body {
      column-gap: clamp( 1.875rem , 1.4255617978rem  +  2.2471910112vw , 3.125rem );
    }
  }
  @supports not (column-gap: clamp( 1.875rem , 1.4255617978rem  +  2.2471910112vw , 3.125rem )) {
    .introduce__body {
      column-gap: calc(1.875rem + 1.25 * (100vw - 20rem) / 55.625);
    }
  }
}
@media (max-width: 42.3125em) {
  .introduce__foto {
    justify-self: center;
  }
}
.introduce__foto img {
  max-width: 100%;
}
@media (min-width: 42.3125em) {
  .introduce__foto {
    flex: 0 1 37.7118644068%;
  }
}
.introduce__items {
  flex: 1 1 auto;
  align-self: center;
  display: grid;
  align-items: start;
}
@supports (gap: clamp( 0.9375rem , -5.8240979381rem  +  13.6597938144vw , 4.25rem )) {
  .introduce__items {
    gap: clamp( 0.9375rem , -5.8240979381rem  +  13.6597938144vw , 4.25rem );
  }
}
@supports not (gap: clamp( 0.9375rem , -5.8240979381rem  +  13.6597938144vw , 4.25rem )) {
  .introduce__items {
    gap: calc(0.9375rem + 3.3125 * (100vw - 49.5rem) / 24.25);
  }
}
@media (max-width: 61.99875em) {
  .introduce__items {
    grid-template-columns: repeat(auto-fit, minmax(10.9375rem, 1fr));
  }
}
@media (min-width: 61.99875em) {
  .introduce__items {
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
  }
}
.item-introduce__title {
  font-weight: 600;
  line-height: 1.5555555556;
  color: #1f2937;
}
.item-introduce__title:not(:last-child) {
  margin-bottom: 1.1111111111em;
}
.item-introduce__title::before {
  color: #1f2937;
  display: none;
  font-size: 0.5rem;
  font-weight: 500;
  transform: rotate(180deg);
  transition: all 0.3s ease 0s;
}
.item-introduce__title._spoller-active::before {
  transform: rotate(0deg);
}
._spoller-init .item-introduce__title {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  column-gap: 0.625rem;
}
._spoller-init .item-introduce__title::before {
  display: block;
}
.item-introduce__block {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  height: 100%;
}
.item-introduce__text {
  font-size: 0.75rem;
  line-height: 1.3333333333;
  font-weight: 400;
  max-width: 19.4375rem;
  flex: 1 1 auto;
}
.item-introduce__link {
  font-size: 0.75rem;
  line-height: 1.3333333333;
  font-weight: 500;
  color: #3730A3;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: start;
  column-gap: 0.3125rem;
}
@media (any-hover: hover) {
  .item-introduce__link:hover {
    text-decoration: underline;
  }
}
.item-introduce__link::before {
  font-size: 0.625rem;
}

.trusted {
  background-color: #fef2f2;
}
@supports (padding-top: clamp( 1.875rem , 0.3019662921rem  +  7.8651685393vw , 6.25rem )) {
  .trusted {
    padding-top: clamp( 1.875rem , 0.3019662921rem  +  7.8651685393vw , 6.25rem );
  }
}
@supports not (padding-top: clamp( 1.875rem , 0.3019662921rem  +  7.8651685393vw , 6.25rem )) {
  .trusted {
    padding-top: calc(1.875rem + 4.375 * (100vw - 20rem) / 55.625);
  }
}
@supports (padding-bottom: clamp( 1.875rem , 0.3019662921rem  +  7.8651685393vw , 6.25rem )) {
  .trusted {
    padding-bottom: clamp( 1.875rem , 0.3019662921rem  +  7.8651685393vw , 6.25rem );
  }
}
@supports not (padding-bottom: clamp( 1.875rem , 0.3019662921rem  +  7.8651685393vw , 6.25rem )) {
  .trusted {
    padding-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 55.625);
  }
}
.trusted__title {
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 400;
  color: #9ca3af;
}
.trusted__title:not(:last-child) {
  margin-bottom: 1em;
}
.trusted__icons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(9.8125rem, 1fr));
  align-items: center;
  gap: 2.5rem;
}
@media (max-width: 60.9375em) {
  .trusted__icons {
    justify-items: center;
  }
}
@supports (padding-top: clamp( 2.5rem , 0.0280898876rem  +  12.3595505618vw , 9.375rem )) {
  .voyage {
    padding-top: clamp( 2.5rem , 0.0280898876rem  +  12.3595505618vw , 9.375rem );
  }
}
@supports not (padding-top: clamp( 2.5rem , 0.0280898876rem  +  12.3595505618vw , 9.375rem )) {
  .voyage {
    padding-top: calc(2.5rem + 6.875 * (100vw - 20rem) / 55.625);
  }
}
@supports (padding-bottom: clamp( 2.5rem , 0.0280898876rem  +  12.3595505618vw , 9.375rem )) {
  .voyage {
    padding-bottom: clamp( 2.5rem , 0.0280898876rem  +  12.3595505618vw , 9.375rem );
  }
}
@supports not (padding-bottom: clamp( 2.5rem , 0.0280898876rem  +  12.3595505618vw , 9.375rem )) {
  .voyage {
    padding-bottom: calc(2.5rem + 6.875 * (100vw - 20rem) / 55.625);
  }
}
@supports (margin-bottom: clamp( 1.875rem , -0.8216292135rem  +  13.4831460674vw , 9.375rem )) {
  .voyage__title {
    margin-bottom: clamp( 1.875rem , -0.8216292135rem  +  13.4831460674vw , 9.375rem );
  }
}
@supports not (margin-bottom: clamp( 1.875rem , -0.8216292135rem  +  13.4831460674vw , 9.375rem )) {
  .voyage__title {
    margin-bottom: calc(1.875rem + 7.5 * (100vw - 20rem) / 55.625);
  }
}
.voyage__body {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
@media (min-width: 50.875em) {
  .voyage__body {
    grid-template-rows: repeat(10, 6.4375rem);
  }
}
@media (max-width: 50.875em) {
  .voyage__body {
    grid-template-rows: repeat(10, 3.125rem);
  }
}
@media (max-width: 29.99875em) {
  .voyage__body {
    grid-template-rows: repeat(11, 3.125rem);
  }
}
@supports (gap: clamp( 1.25rem , 1.0252808989rem  +  1.1235955056vw , 1.875rem )) {
  .voyage__body {
    gap: clamp( 1.25rem , 1.0252808989rem  +  1.1235955056vw , 1.875rem );
  }
}
@supports not (gap: clamp( 1.25rem , 1.0252808989rem  +  1.1235955056vw , 1.875rem )) {
  .voyage__body {
    gap: calc(1.25rem + 0.625 * (100vw - 20rem) / 55.625);
  }
}
@media (min-width: 20em) {
  .voyage__item:nth-child(1) {
    grid-row: 1/4;
  }
  .voyage__item:nth-child(3) {
    grid-row: 7/10;
  }
  .voyage__item:nth-child(1), .voyage__item:nth-child(3) {
    grid-column: 1/11;
  }
  .voyage__item:nth-child(2) {
    grid-row: 4/7;
    grid-column: 1/11;
  }
  .voyage__item:nth-child(4) {
    grid-row: 10/12;
    grid-column: 1/11;
  }
}
@media (min-width: 29.99875em) {
  .voyage__item:nth-child(1) {
    grid-column: 1/6;
  }
  .voyage__item:nth-child(3) {
    grid-column: 6/11;
  }
  .voyage__item:nth-child(1), .voyage__item:nth-child(3) {
    grid-row: 5/8;
  }
  .voyage__item:nth-child(2) {
    grid-row: 1/5;
    grid-column: 1/11;
  }
  .voyage__item:nth-child(4) {
    grid-row: 8/11;
    grid-column: 1/11;
  }
}
@media (min-width: 32em) {
  .voyage__item:nth-child(1) {
    grid-row: 1/5;
  }
  .voyage__item:nth-child(3) {
    grid-row: 5/8;
  }
  .voyage__item:nth-child(1), .voyage__item:nth-child(3) {
    grid-column: 1/6;
  }
  .voyage__item:nth-child(2) {
    grid-row: 1/8;
    grid-column: 6/11;
  }
  .voyage__item:nth-child(4) {
    grid-row: 8/11;
    grid-column: 1/11;
  }
}

.item-voyage {
  position: relative;
  display: flex;
  align-items: flex-end;
}
@supports (padding: clamp( 0.625rem , -2.2331460674rem  +  5.6179775281vw , 1.25rem )) {
  .item-voyage {
    padding: clamp( 0.625rem , -2.2331460674rem  +  5.6179775281vw , 1.25rem );
  }
}
@supports not (padding: clamp( 0.625rem , -2.2331460674rem  +  5.6179775281vw , 1.25rem )) {
  .item-voyage {
    padding: calc(0.625rem + 0.625 * (100vw - 50.875rem) / 11.125);
  }
}
.item-voyage__image-ibg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.item-voyage__section {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #fff;
  font-weight: 500;
  box-shadow: 0 0 0 0 #4e4e4e;
  transition: box-shadow 0.3s ease 0s;
}
@supports (padding-top: clamp( 0.9375rem , -1.3490168539rem  +  4.4943820225vw , 1.4375rem )) {
  .item-voyage__section {
    padding-top: clamp( 0.9375rem , -1.3490168539rem  +  4.4943820225vw , 1.4375rem );
  }
}
@supports not (padding-top: clamp( 0.9375rem , -1.3490168539rem  +  4.4943820225vw , 1.4375rem )) {
  .item-voyage__section {
    padding-top: calc(0.9375rem + 0.5 * (100vw - 50.875rem) / 11.125);
  }
}
@supports (padding-bottom: clamp( 0.9375rem , -1.3490168539rem  +  4.4943820225vw , 1.4375rem )) {
  .item-voyage__section {
    padding-bottom: clamp( 0.9375rem , -1.3490168539rem  +  4.4943820225vw , 1.4375rem );
  }
}
@supports not (padding-bottom: clamp( 0.9375rem , -1.3490168539rem  +  4.4943820225vw , 1.4375rem )) {
  .item-voyage__section {
    padding-bottom: calc(0.9375rem + 0.5 * (100vw - 50.875rem) / 11.125);
  }
}
@supports (padding-left: clamp( 1.25rem , -2.4655898876rem  +  7.3033707865vw , 2.0625rem )) {
  .item-voyage__section {
    padding-left: clamp( 1.25rem , -2.4655898876rem  +  7.3033707865vw , 2.0625rem );
  }
}
@supports not (padding-left: clamp( 1.25rem , -2.4655898876rem  +  7.3033707865vw , 2.0625rem )) {
  .item-voyage__section {
    padding-left: calc(1.25rem + 0.8125 * (100vw - 50.875rem) / 11.125);
  }
}
@supports (padding-right: clamp( 1.25rem , -0.7507022472rem  +  3.9325842697vw , 1.6875rem )) {
  .item-voyage__section {
    padding-right: clamp( 1.25rem , -0.7507022472rem  +  3.9325842697vw , 1.6875rem );
  }
}
@supports not (padding-right: clamp( 1.25rem , -0.7507022472rem  +  3.9325842697vw , 1.6875rem )) {
  .item-voyage__section {
    padding-right: calc(1.25rem + 0.4375 * (100vw - 50.875rem) / 11.125);
  }
}
@media (any-hover: hover) {
  .item-voyage__section:hover {
    box-shadow: 0 0 0.9375rem 0 #4e4e4e;
  }
}
.item-voyage__link {
  color: #1f2937;
  padding: 0.4375rem;
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .item-voyage__link:hover {
    color: #324566;
  }
}
@supports (font-size: clamp( 1rem , 0.4283707865rem  +  1.1235955056vw , 1.125rem )) {
  .item-voyage__link::before {
    font-size: clamp( 1rem , 0.4283707865rem  +  1.1235955056vw , 1.125rem );
  }
}
@supports not (font-size: clamp( 1rem , 0.4283707865rem  +  1.1235955056vw , 1.125rem )) {
  .item-voyage__link::before {
    font-size: calc(1rem + 0.125 * (100vw - 50.875rem) / 11.125);
  }
}
.item-voyage__title {
  color: #1f2937;
  line-height: 1.5555555556;
}
@supports (font-size: clamp( 1rem , 0.4283707865rem  +  1.1235955056vw , 1.125rem )) {
  .item-voyage__title {
    font-size: clamp( 1rem , 0.4283707865rem  +  1.1235955056vw , 1.125rem );
  }
}
@supports not (font-size: clamp( 1rem , 0.4283707865rem  +  1.1235955056vw , 1.125rem )) {
  .item-voyage__title {
    font-size: calc(1rem + 0.125 * (100vw - 50.875rem) / 11.125);
  }
}
@media (any-hover: hover) {
  .item-voyage__title:hover {
    text-decoration: underline;
  }
}
.item-voyage__sub-title {
  line-height: 1.4285714286;
  color: #9ca3af;
}
@supports (font-size: clamp( 0.75rem , 0.1783707865rem  +  1.1235955056vw , 0.875rem )) {
  .item-voyage__sub-title {
    font-size: clamp( 0.75rem , 0.1783707865rem  +  1.1235955056vw , 0.875rem );
  }
}
@supports not (font-size: clamp( 0.75rem , 0.1783707865rem  +  1.1235955056vw , 0.875rem )) {
  .item-voyage__sub-title {
    font-size: calc(0.75rem + 0.125 * (100vw - 50.875rem) / 11.125);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 0.0280898876rem  +  12.3595505618vw , 9.375rem )) {
  .description {
    padding-bottom: clamp( 2.5rem , 0.0280898876rem  +  12.3595505618vw , 9.375rem );
  }
}
@supports not (padding-bottom: clamp( 2.5rem , 0.0280898876rem  +  12.3595505618vw , 9.375rem )) {
  .description {
    padding-bottom: calc(2.5rem + 6.875 * (100vw - 20rem) / 55.625);
  }
}
.description__items {
  display: flex;
}
@supports (margin-right: clamp( -2.59375rem , 4.3861607143rem  +  -9.4642857143vw , -0.9375rem )) {
  .description__items {
    margin-right: clamp( -2.59375rem , 4.3861607143rem  +  -9.4642857143vw , -0.9375rem );
  }
}
@supports not (margin-right: clamp( -2.59375rem , 4.3861607143rem  +  -9.4642857143vw , -0.9375rem )) {
  .description__items {
    margin-right: calc(-0.9375rem + -1.65625 * (100vw - 56.25rem) / 17.5);
  }
}
@supports (margin-left: clamp( -2.59375rem , 4.3861607143rem  +  -9.4642857143vw , -0.9375rem )) {
  .description__items {
    margin-left: clamp( -2.59375rem , 4.3861607143rem  +  -9.4642857143vw , -0.9375rem );
  }
}
@supports not (margin-left: clamp( -2.59375rem , 4.3861607143rem  +  -9.4642857143vw , -0.9375rem )) {
  .description__items {
    margin-left: calc(-0.9375rem + -1.65625 * (100vw - 56.25rem) / 17.5);
  }
}
@media (max-width: 55.875em) {
  .description__items {
    flex-wrap: wrap;
  }
  @supports (row-gap: clamp( 1.875rem , 1.6502808989rem  +  1.1235955056vw , 2.5rem )) {
    .description__items {
      row-gap: clamp( 1.875rem , 1.6502808989rem  +  1.1235955056vw , 2.5rem );
    }
  }
  @supports not (row-gap: clamp( 1.875rem , 1.6502808989rem  +  1.1235955056vw , 2.5rem )) {
    .description__items {
      row-gap: calc(1.875rem + 0.625 * (100vw - 20rem) / 55.625);
    }
  }
}
.description__item {
  flex: 0 1 33.333%;
}
@supports (padding-right: clamp( 0.9375rem , -4.3861607143rem  +  9.4642857143vw , 2.59375rem )) {
  .description__item {
    padding-right: clamp( 0.9375rem , -4.3861607143rem  +  9.4642857143vw , 2.59375rem );
  }
}
@supports not (padding-right: clamp( 0.9375rem , -4.3861607143rem  +  9.4642857143vw , 2.59375rem )) {
  .description__item {
    padding-right: calc(0.9375rem + 1.65625 * (100vw - 56.25rem) / 17.5);
  }
}
@supports (padding-left: clamp( 0.9375rem , -4.3861607143rem  +  9.4642857143vw , 2.59375rem )) {
  .description__item {
    padding-left: clamp( 0.9375rem , -4.3861607143rem  +  9.4642857143vw , 2.59375rem );
  }
}
@supports not (padding-left: clamp( 0.9375rem , -4.3861607143rem  +  9.4642857143vw , 2.59375rem )) {
  .description__item {
    padding-left: calc(0.9375rem + 1.65625 * (100vw - 56.25rem) / 17.5);
  }
}
@media (max-width: 55.875em) {
  .description__item {
    flex: 0 1 50%;
  }
}
@media (max-width: 33.8125em) {
  .description__item {
    flex: 0 1 100%;
  }
}

.item-description {
  display: grid;
  text-align: center;
  align-items: center;
  justify-items: center;
}
.item-description__icon {
  background-color: #eef2ff;
  display: flex;
  align-items: center;
  justify-content: center;
}
@supports (width: clamp( 6.25rem , 5.3511235955rem  +  4.4943820225vw , 8.75rem )) {
  .item-description__icon {
    width: clamp( 6.25rem , 5.3511235955rem  +  4.4943820225vw , 8.75rem );
  }
}
@supports not (width: clamp( 6.25rem , 5.3511235955rem  +  4.4943820225vw , 8.75rem )) {
  .item-description__icon {
    width: calc(6.25rem + 2.5 * (100vw - 20rem) / 55.625);
  }
}
@supports (height: clamp( 6.25rem , 5.3511235955rem  +  4.4943820225vw , 8.75rem )) {
  .item-description__icon {
    height: clamp( 6.25rem , 5.3511235955rem  +  4.4943820225vw , 8.75rem );
  }
}
@supports not (height: clamp( 6.25rem , 5.3511235955rem  +  4.4943820225vw , 8.75rem )) {
  .item-description__icon {
    height: calc(6.25rem + 2.5 * (100vw - 20rem) / 55.625);
  }
}
@supports (margin-bottom: clamp( 1.875rem , 1.6502808989rem  +  1.1235955056vw , 2.5rem )) {
  .item-description__icon {
    margin-bottom: clamp( 1.875rem , 1.6502808989rem  +  1.1235955056vw , 2.5rem );
  }
}
@supports not (margin-bottom: clamp( 1.875rem , 1.6502808989rem  +  1.1235955056vw , 2.5rem )) {
  .item-description__icon {
    margin-bottom: calc(1.875rem + 0.625 * (100vw - 20rem) / 55.625);
  }
}
.item-description__icon::before {
  font-size: 2.5rem;
}
@supports (font-size: clamp( 1.875rem , 1.6502808989rem  +  1.1235955056vw , 2.5rem )) {
  .item-description__icon::before {
    font-size: clamp( 1.875rem , 1.6502808989rem  +  1.1235955056vw , 2.5rem );
  }
}
@supports not (font-size: clamp( 1.875rem , 1.6502808989rem  +  1.1235955056vw , 2.5rem )) {
  .item-description__icon::before {
    font-size: calc(1.875rem + 0.625 * (100vw - 20rem) / 55.625);
  }
}
.item-description__title {
  color: #374151;
  font-weight: 600;
  line-height: 1.2;
}
@supports (font-size: clamp( 1.5rem , 1.3651685393rem  +  0.6741573034vw , 1.875rem )) {
  .item-description__title {
    font-size: clamp( 1.5rem , 1.3651685393rem  +  0.6741573034vw , 1.875rem );
  }
}
@supports not (font-size: clamp( 1.5rem , 1.3651685393rem  +  0.6741573034vw , 1.875rem )) {
  .item-description__title {
    font-size: calc(1.5rem + 0.375 * (100vw - 20rem) / 55.625);
  }
}
.item-description__title:not(:last-child) {
  margin-bottom: 0.6666666667em;
}
.item-description__text {
  color: #9ca3af;
  line-height: 1.5555555556;
  font-weight: 400;
}
@media (max-width: 33.8125em) {
  .item-description__text {
    max-width: 22.5625rem;
  }
}

._company {
  font-weight: 600;
  color: #1f2937;
}

@supports (padding-bottom: clamp( 1.875rem , -0.8216292135rem  +  13.4831460674vw , 9.375rem )) {
  .careers {
    padding-bottom: clamp( 1.875rem , -0.8216292135rem  +  13.4831460674vw , 9.375rem );
  }
}
@supports not (padding-bottom: clamp( 1.875rem , -0.8216292135rem  +  13.4831460674vw , 9.375rem )) {
  .careers {
    padding-bottom: calc(1.875rem + 7.5 * (100vw - 20rem) / 55.625);
  }
}
@supports (font-size: clamp( 0.875rem , 0.8300561798rem  +  0.2247191011vw , 1rem )) {
  .careers__container {
    font-size: clamp( 0.875rem , 0.8300561798rem  +  0.2247191011vw , 1rem );
  }
}
@supports not (font-size: clamp( 0.875rem , 0.8300561798rem  +  0.2247191011vw , 1rem )) {
  .careers__container {
    font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 55.625);
  }
}
@supports (margin-bottom: clamp( 1.875rem , -0.8216292135rem  +  13.4831460674vw , 9.375rem )) {
  .careers__title {
    margin-bottom: clamp( 1.875rem , -0.8216292135rem  +  13.4831460674vw , 9.375rem );
  }
}
@supports not (margin-bottom: clamp( 1.875rem , -0.8216292135rem  +  13.4831460674vw , 9.375rem )) {
  .careers__title {
    margin-bottom: calc(1.875rem + 7.5 * (100vw - 20rem) / 55.625);
  }
}
.careers__body {
  display: flex;
  justify-content: space-between;
}
@supports (column-gap: clamp( 1.875rem , 1.4255617978rem  +  2.2471910112vw , 3.125rem )) {
  .careers__body {
    column-gap: clamp( 1.875rem , 1.4255617978rem  +  2.2471910112vw , 3.125rem );
  }
}
@supports not (column-gap: clamp( 1.875rem , 1.4255617978rem  +  2.2471910112vw , 3.125rem )) {
  .careers__body {
    column-gap: calc(1.875rem + 1.25 * (100vw - 20rem) / 55.625);
  }
}
.careers__item {
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@supports (margin-bottom: clamp( 1.875rem , 0.7514044944rem  +  5.6179775281vw , 5rem )) {
  .careers__item > *:not(:last-child) {
    margin-bottom: clamp( 1.875rem , 0.7514044944rem  +  5.6179775281vw , 5rem );
  }
}
@supports not (margin-bottom: clamp( 1.875rem , 0.7514044944rem  +  5.6179775281vw , 5rem )) {
  .careers__item > *:not(:last-child) {
    margin-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 55.625);
  }
}
